In [1]:
import pandas as pd
import numpy as np
import requests, time
from bs4 import BeautifulSoup
import sqlalchemy

pd.set_option('display.max_columns', None)

In [2]:
name_table = 'philadelphia_eagles'

In [3]:
url = 'http://pfref.com/pi/share/ovtxj'

In [4]:
def read_html(url):
    pd.read_html(url)
   
    return pd.read_html(url)

In [5]:
def convert_df(lista):
    lista[0]
    
    return lista[0]

In [6]:
# def rm_unnamed_col(dado):
#     dt = dado.rename(columns={'Yds.1':'Yds_sk'})
#     return dt

In [7]:
# def add_col_characters(dataframe):
#     dataframe.loc[:,'All-Pro'] = dataframe['Player'].str.contains('+', regex=False)
#     dataframe.loc[:,'Selected_Pro_Bowl'] = dataframe['Player'].str.contains('*', regex=False)
   
#     return dataframe

In [8]:
# def clean_col_player(dataframe):
#     dataframe['Player'] = dataframe['Player'].str.replace('*','')
#     dataframe['Player'] = dataframe['Player'].str.replace('+','')
    
#     return dataframe

In [9]:
def limpar_todas_coluna(dataframe):
    dataframe.columns = [(c.lower().strip()) for c in dataframe.columns]
    
    return dataframe.columns

In [10]:
def robo(url):
    lista = read_html(url)
    converter_em_dataframe = convert_df(lista)
    #tirar_nomes_coluna= rm_unnamed_col(converter_em_dataframe)
    #adicionar_colunas_novas = add_col_characters(tirar_nomes_coluna)
    #limpar_coluna_player = clean_col_player(adicionar_colunas_novas)
    dataframe_final = limpar_todas_coluna(converter_em_dataframe)
    
    
    
    return converter_em_dataframe

In [11]:
robo(url)

,no.,player,age,pos,g,gs,wt,ht,college/univ,birthdate,yrs,av,drafted (tm/rnd/yr)
0,32.0,Reed Blankenship,23.0,S,10,4.0,196.0,6-1,Middle Tenn. St.,3/2/1999,Rook,2.0,NaN
1,19.0,Ian Book,24.0,QB,0,0.0,206.0,6-0,Notre Dame,3/30/1998,1,NaN,New Orleans Saints / 4th / 133rd pick / 2021
2,24.0,James Bradberry,29.0,CB,17,17.0,212.0,6-1,"Arkansas St.,Samford",8/4/1993,6,11.0,Carolina Panthers / 2nd / 62nd pick / 2016
3,11.0,A.J. Brown,25.0,WR,17,16.0,226.0,6-1,Mississippi,6/30/1997,3,16.0,Tennessee Titans / 2nd / 51st pick / 2019
4,47.0,Grant Calcaterra,24.0,TE,15,2.0,247.0,6-5,"Oklahoma,SMU",12/4/1998,Rook,1.0,Philadelphia Eagles / 6th / 198th pick / 2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,80.0,Tyree Jackson (IR),25.0,TE,5,0.0,249.0,6-7,Buffalo,11/7/1997,1,0.0,NaN
57,59.0,Janarius Robinson (IR),23.0,DE,0,0.0,260.0,6-5,Florida St.,5/5/1999,Rook,NaN,Minnesota Vikings / 4th / 134th pick / 2021
58,95.0,Marlon Tuipulotu (IR),23.0,DT,9,1.0,307.0,6-2,USC,5/31/1999,1,1.0,Philadelphia Eagles / 6th / 189th pick / 2021
59,61.0,Josh Sills (EXE),24.0,G,1,0.0,325.0,6-6,"West Virginia,Oklahoma St.",1/26/1998,Rook,0.0,NaN
60,NaN,Team Total,26.3,NaN,17,NaN,246.2,6-1.9,NaN,NaN,3.5,NaN,NaN

In [12]:
db_server='pymysql'
user='root'
db_port = '3306'
password = 'rootroot'
ip = 'localhost'
db_name = 'nflcopy'
engine = sqlalchemy.create_engine(f'mysql+{db_server}://{user}:{password}@{ip}:{db_port}/{db_name}?charset=utf8')
robo(url).to_sql(name_table, engine, index=False, if_exists='replace')

61