In [1]:
import pandas as pd
import numpy as np
import requests, time
from bs4 import BeautifulSoup
import sqlalchemy

pd.set_option('display.max_columns', None)

In [2]:
name_table = 'receiving'

In [3]:
url = 'http://pfref.com/pi/share/B5pM6'

In [4]:
def read_html(url):
    pd.read_html(url)
   
    return pd.read_html(url)

In [5]:
def convert_df(lista):
    lista[0]
    
    return lista[0]

In [6]:
# def rm_unnamed_col(dado):
#     dt = dado.rename(columns={'Yds.1':'Yds_sk'})
#     return dt

In [7]:
def add_col_characters(dataframe):
    dataframe.loc[:,'All-Pro'] = dataframe['Player'].str.contains('+', regex=False)
    dataframe.loc[:,'Selected_Pro_Bowl'] = dataframe['Player'].str.contains('*', regex=False)
   
    return dataframe

In [8]:
def clean_col_player(dataframe):
    dataframe['Player'] = dataframe['Player'].str.replace('*','')
    dataframe['Player'] = dataframe['Player'].str.replace('+','')
    
    return dataframe

In [9]:
def limpar_todas_coluna(dataframe):
    dataframe.columns = [(c.lower().strip()) for c in dataframe.columns]
    
    return dataframe.columns

In [10]:
def robo(url):
    lista = read_html(url)
    converter_em_dataframe = convert_df(lista)
    #tirar_nomes_coluna= rm_unnamed_col(converter_em_dataframe)
    adicionar_colunas_novas = add_col_characters(converter_em_dataframe)
    limpar_coluna_player = clean_col_player(adicionar_colunas_novas)
    dataframe_final = limpar_todas_coluna(limpar_coluna_player)
    
    
    
    return converter_em_dataframe

In [11]:
robo(url)

C:\Users\mateu\AppData\Local\Temp\ipykernel_10520\284709308.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataframe['Player'] = dataframe['Player'].str.replace('*','')
C:\Users\mateu\AppData\Local\Temp\ipykernel_10520\284709308.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataframe['Player'] = dataframe['Player'].str.replace('+','')

,rk,player,tm,age,pos,g,gs,tgt,rec,ctch%,yds,y/r,td,1d,lng,y/tgt,r/g,y/g,fmb,all-pro,selected_pro_bowl
0,1,Justin Jefferson,MIN,23,WR,17,17,184,128,69.6%,1809,14.1,8,80,64,9.8,7.5,106.4,0,True,True
1,2,Tyreek Hill,MIA,28,WR,17,17,170,119,70.0%,1710,14.4,7,77,64,10.1,7.0,100.6,1,True,True
2,3,Travis Kelce,KAN,33,TE,17,17,152,110,72.4%,1338,12.2,12,78,52,8.8,6.5,78.7,1,True,True
3,4,Stefon Diggs,BUF,29,WR,16,16,154,108,70.1%,1429,13.2,11,74,53,9.3,6.8,89.3,1,False,True
4,5,Austin Ekeler,LAC,27,RB,17,17,127,107,84.3%,722,6.7,5,36,23,5.7,6.3,42.5,5,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,504,Noah Togiai,PHI,25,TE,2,0,1,0,0.0%,0,NaN,0,0,0,0.0,0.0,0.0,0,False,False
504,505,Jake Tonges,CHI,23,TE,4,0,1,0,0.0%,0,NaN,0,0,0,0.0,0.0,0.0,0,False,False
505,506,DJ Turner,LVR,25,WR,9,0,1,0,0.0%,0,NaN,0,0,0,0.0,0.0,0.0,1,False,False
506,507,James Washington,DAL,26,WR,2,0,1,0,0.0%,0,NaN,0,0,0,0.0,0.0,0.0,0,False,False
507,508,Charlie Woerner,SFO,25,TE,17,2,2,0,0.0%,0,NaN,0,0,0,0.0,0.0,0.0,0,False,False

In [13]:
db_server='pymysql'
user='root'
db_port = '3306'
password = 'rootroot'
ip = 'localhost'
db_name = 'nflcopy'
engine = sqlalchemy.create_engine(f'mysql+{db_server}://{user}:{password}@{ip}:{db_port}/{db_name}?charset=utf8')
robo(url).to_sql(name_table, engine, index=False, if_exists='replace')

C:\Users\mateu\AppData\Local\Temp\ipykernel_10520\284709308.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataframe['Player'] = dataframe['Player'].str.replace('*','')
C:\Users\mateu\AppData\Local\Temp\ipykernel_10520\284709308.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataframe['Player'] = dataframe['Player'].str.replace('+','')

508